.title {
  color: $color-secondary;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 20px;

  &--level1 {
    margin: 30px 0 50px;
    text-align: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, 30px, 0);
      width: 30px;
      height: 1px;
      background-color: $color-secondary;
    }
  }
}

p {
  line-height: 1.5;
  font-size: 0.875rem;
  margin-bottom: 20px;
}

// DEVICE : TABLET

@media screen and (min-width: $tablet) {
  .title {
    margin: 60px 0 30px;

    &--level1 {
      font-size: 3.75rem;

      &::before {
        transform: translate3d(-50%, 60px, 0);
        width: 70px;
        height: 3px;
      }
    }

    &--level2 {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}