@tailwind base;
@tailwind components;
@tailwind utilities;

// INIT
@import "init/variables";
@import "init/layout";

// MODULES

@import "modules/fonts";
@import "modules/typography";

// REGIONS

@import "regions/header";

// COMMON

@import "common";

$breakpoints: (
	'small': 991px,
) !default;

// Mixins
@mixin mq($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (max-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		+ "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

.clear {
	clear: both;
}

.header-img {
    background-position: 50%;
    background-image: url(../img/pochettes/pochette4.jpg);
    background-size: cover;
}

.masonry-wall {
    display: grid;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    row-gap: 7px;
    grid-template-columns: repeat(3,300px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: var(--card-container-width);
  }


